<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=font1|font2|etc" type="text/css">
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
  </head>
  <body>
 <header>

    <!-- site-wide header -->
    <h1><%= mission.name %> Mission Page <!-- site name --></h1>
  </header>

  <main>
    <ul>
    <li><p>Mission Name:</p> <%= mission.name %></li>
    <li><p>Mission Launch Date:</p> <%= mission.launchDate %> </li>
    <li><p>Mission Operator:</p> <%= mission.operator %> </li>
    <li><p>Mission Type:</p> <%= mission.missionType %> </li>
    <ul>
  </main>

  <nav>
    <!-- site-wide navigation -->
  </nav>

  <footer>
    <!-- site-wide footer -->
  </footer>

  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  </body>
</html>